@import "tailwindcss";


:root {
  
  --background: #ffffff;
  --foreground: #171717;
  --main :#26C17E;
  --font-sans: var(--font-open-sans), sans-serif;  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans), sans-serif;  
  --font-mono: var(--font-geist-mono);
  --color-main : var(--main);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: white;
  color: var(--foreground);
  font-family: var(--font-open-sans), sans-serif;  
  overflow-x: hidden;
}
